apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: kubernetes-cron
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: kubernetes-cron
    spec:
      containers:
      - name: kubernetes-cron
        image: tdickman/kubernetes-cron:0.1.1
